[merge]
tool = unityyamlmerge

[mergetool "unityyamlmerge"]
trustExitCode = false
cmd = 'C:\Program Files\Unity\Hub\Editor\2019.4.10f1\Editor\Data\Tools' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
